{{> header}}
<block tpl-id="adduserBlock">
	<section class="addlist">
		<ul>
			<li><span>后台用户名:<b id='adduserMessage0'></b></span></li>
			<li><input type="text"  name="username" autocomplete="off" placeholder="请输入您的用户名"/></li>
			<li><span>用户密码:<b id='adduserMessage1'></b></span></li>
			<li><input type="password"  name="username" autocomplete="off" placeholder="请输入您的密码"/></li>
			<li><span>确认密码:<b id='adduserMessage2'></b></span></li>
			<li><input type="password" name="username" autocomplete="off" placeholder="请确认您的密码"/></li>
		</ul>
	</section>
	<section class="alink">
		<p class="x"><a href="javascript:void(0)" id='adduserBtn'>添加</a></p>
		<p class="y"><a href="javascript:void(0)" id='adduserCancel'>取消</a></p>
	</section>
</block>
{{> footer}}
